@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
*
{
    margin:0;
    padding:0;
    
}
.Appcontainer
{
      position:absolute;
      width:98%;
      height:96%;
      background-color: rgb(191, 220, 220);
      margin-left:0.5em;
      margin-top:0.3em;
      border-radius:0.3em;
      box-shadow: 10px 10px 10px 10px #242424;
}
.inputform
{
    position:absolute;
    top:20%;
    left:28.5%;
    width:39.9em;
    height:16em;
    background-color: rgb(191, 220, 220);
    border-radius:0.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px 10px #242424;
}
.logocontainer
{
    position: absolute;
    top:2.9%;
    left:13.9%;
    width:28em;
    height:5em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:0.1em;
    background-color: transparent;
}
.logocontainer img 
{
    width:7em;
    height: 5em;
    border-radius:100%;
    
  
    margin-top:0.4em;
}

.inputform input 
{
    font-size:larger;
    padding:0.3em;
    width:60%;
    outline: none;
    border-radius:0.3em;
    background-color:rgb(249, 240, 240);
    padding-left: 1em;
    font-weight: bolder;
    outline:none;
    border:none;
}

.inputform input:focus 
{
    transition: all 0.5s ease-in;
    background-color: rgb(217, 217, 217);
     width:80%;
     border-radius:0.3em;

}

.Searchbutton
{
    position:absolute;
    top:60%;
    left:38.5%;
    padding: 0.5em;
    text-align: center;
    background-color:aliceblue;
    outline:none;
    border-radius: 0.2em;
    border:none;
    cursor:pointer;
}
.Searchbutton:hover
{
    transition: ease-in-out all 0.5s;
    border:1px solid lightgreen;
    color:green;
    border-bottom:2px solid green;
}
footer 
{
    position:absolute;
    bottom:0%;
    background-color: rgb(216, 195, 169);
    width:100%;
    height:10%;
    border:none;
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}
.searchcontainer
{
    position:absolute;
    top:4.5%;
    left:5%;
    width:91.2%;
    height: 81%;
    background-color: rgb(191, 220, 220);

    
    border-radius:0.2em;
    box-shadow: 10px 10px 10px 10px #242424;
}
.searchcontainerfooter
{
    width:30%;
    height:6%;
    margin-left:5.5%;
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    border:none;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top:0.5em;
    padding-left:1em;
   
}
.searchpw
{  
color:cadetblue;
border:none;
outline: none;
padding:0.5em;
border-radius:0.3em;
cursor: pointer;
margin-top:0.9em;
margin-left:1em;
font-weight: bolder;
display: flex;
align-items: center;
justify-content: center;
column-gap: 8px;
    background-color: rgb(216, 195, 169);
  box-shadow: 5px 5px 5px 5px #242424;

}
.ResultListWrapper
{
    position:absolute;
    top:1%;
    left:5.5%;
    width: 91%;
    border-radius:0.2em;
    height:86%;
    background-color: rgb(216, 195, 169);
    box-shadow: 10px 10px 10px 10px #242424;
    overflow-y: scroll;

    
}
.List
{
    border-radius:0.2em;
    position: absolute;
    width:100%;
    height:100%;
    padding-top:1em;
    padding-left: 1em;
}
.List li 
{
    margin-top:1.6em;
    background-color: #cecbcb;
    width: 40em;
    height:3em;
    display: flex;
    align-items: center;
    padding-left:2em;
    border-radius:0.2em;
    box-shadow: 10px 10px 10px 10px #242424;
    font-size:1em;
    font-weight: bolder;
}

.Searchlistitem
{
 color:blue;
}
.Searchtitle
{
    position:absolute;
    right:3%;
    color:#242424;
    background-color: rgb(216, 195, 169);
    padding:0.3em;
    padding-left:1.9em;
    padding-right:1.9em;
  width:auto;
  top:0.5em;
  border-radius:0.2em;
  box-shadow: 5px 5px 5px 5px #242424;

}
.Googlesearch
{
    position:absolute;
    top:60%;
    width: 12.2em;
    left:38.5%;
    padding: 0.5em;
    text-align: center;
    outline:none;
    border-radius: 0.2em;
    border:none;
    cursor:pointer;
}
.Googlesearch:hover
{
    transition: ease-in-out all 0.5s;
    border:1px solid lightgreen;
    color:rgb(192, 192, 14);
    border-bottom:2px solid rgb(192, 192, 14);
}
.option
{
    width: 11em;
    height: 3em;
    background-color: rgb(216, 195, 169);
    position: absolute;
    right:2.4em;
    top:5%;
    border-radius:0.2em;
}
.FEoption
{
    width:100%;
    height: 100%;
    border-radius: 0.3em;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:1em;
    background-color: rgb(191, 220, 220);
    color:black;
    font-weight: bolder;
    border:none;
    outline:none;
    box-shadow: 5px 5px 5px 5px #242424;
}
.FEoption img 
{
    width: 5em;
    height: 3.5em;
    border-radius: 50%;
overflow: hidden;
}
.FEoption:hover
{
    transition: ease-in-out all 0.5s;
    box-shadow: 5.5px 5.5px 5.5px 5.5px rgb(216, 195, 169);
    
}
.Googleoption
{
    width:100%;
    height: 100%;
    border-radius: 0.3em;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    padding-left:1em;
    background-color: white;
    color:Blue;
    font-weight: bolder;
    border:none;
    outline:none;
    box-shadow: 5px 5px 5px 5px #242424;

}
.Googleoption img 
{
    width: 3em;
    height: 3em;
    border-radius: 50%;
overflow: hidden;
}
.Googleoption:hover
{
    transition: ease-in-out all 0.5s;
    box-shadow: 5.5px 5.5px 5.5px 5.5px blue;
    
}
.Googlelogo
{
    background-color: transparent;
}
.FElogo
{
    background-color: transparent;
}